<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="security" frontName="security">
            <module name="TransmitSecurity_DrsSecurityExtension" />
        </route>
    </router>
</config>
