<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="security_extension_tab" translate="label" sortOrder="10">
            <label>Security Extension</label>
        </tab>
        <section id="security_extension_section" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>TransmitSecurity DRS Security Extension Settings</label>
            <tab>security_extension_tab</tab>
            <resource>TransmitSecurity_DrsSecurityExtension::config</resource>
            <group id="security_extension_group" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Security Extension API Credentials</label>
                <field id="client_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                </field>
                <field id="enable_deny" translate="label" type="checkbox" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Deny</label>
                </field>
            </group>
        </section>
    </system>
</config>
